/* 
		Matthew Bathurst
		Designing for Web Standards I - Online #1
		Instructor: Chris Vincze
		Assignment: Project 2
		Due Date: June 12th, 2014

*/

/*Font Installation from Google Font */
@font-face {
	font-family: 'Anton', sans-serif;
	src: url(http://fonts.googleapis.com/css?family=Anton);
}
body{
	width:960px;
	margin: auto;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
/* Column Layout */

#header{
	margin: 20px, auto;
}
#body1of3{
	background-color:blue;
	width:100%;
	float:left;
	margin: 25px 0;
	padding: 1%;
}
#body2of3{
	background-color:red;
	width:45%;
	float:left;
	margin: 0 1% 0 0%;
	padding: 1%;
}
#body3of3{
	background-color:pink;
	width: 49%;
	margin: 0 1% 0 0;
	float: left;
	padding: 1%;
}
#footer{
	width: 100%;
	margin: 45px 0;
	background-color:yellow;
	float: left;
	clear: left;
	padding: 1%;
}